@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #060e20;
  color: #dee5ff;
}